/* media */
$media-list: (
		'xxs': 375,
		'xs': 560,
		'sm': 767,
		'md': 992,
		'mdHeader': 1079,
		'lg': 1279,
		'lgBig': 1400,
		'xl': 1599,
		'xxl': 1920
);

/* шрифты */
$mainFont: 'HelveticaNeueCyr', sans-serif;
$rosa: 'RosaMarena', sans-serif;

$gray-bg: #EAEEF3;
$dark-gray: #5F6366;
$gray-font: #7F8285;
$light-gray: #F6F8FA;

$dark-blue: #4C6E9A;
$sec-dark-blue: #4D6E9B;
$blue-bg: #84B2D1;
$light-blue: #C8DCEA;
$footer-price: #8299B9;
$color-dot: #A5B6CC;
$about_bg: #9DC1DA;

$turquoise: #99CFD3;
$modal-bg: #B8DDE0;

$white-bg: #ffffff;
$black-bg: #000000;

$ping-bg: #EDB3BE;


