.block__textTwo
	img(src="img/foto--1.png", alt="").float--right
	h1.title__121 О враче
	br
	h2 
		!="ГОВОРОВ <br> Антон Владимирович"
	br
	br
	blockquote
		| Пластический хирург по пластике лица клиники Арт Пластик (Москва), Заведующий Центром пластической хирургии «Немецкая семейная клиника»
	br
	br
	p 
		!="<b>Антон Владимирович Говоров</b> выполняет широкий спектр пластических и реконструктивных операцина лице и теле любой сложности, в совершенстве владеет современными эффективными и безопасными методами омоложения. Уникальные методыи индивидуальный подход, выверенные для каждого отдельного пациента, гарантируют безопасностьи получение только наилучших рузультатов: возвращениемолодости лица с сохранением естественности."
	br
	p 
		!="Таким образом, высокотехнологичная концепция общественного уклада представляет собой интересный эксперимент проверки новых принципов формирования материально-технической и кадровой базы."	
	br
	p 
		!="Для современного мира курс на социально-ориентированный национальный проект прекрасно подходит для реализации глубокомысленных рассуждений. С другой стороны, сложившаяся структура организации в значительной степени обусловливает важность укрепления моральных ценностей! Также как перспективное планирование предоставляет широкие возможности для экспериментов, поражающих по своей масштабности и грандиозности. Лишь интерактивные прототипы будут описаны максимально подробно."
.block__textTwo
	img(src="img/foto--2.png", alt="").float--left
	h3 ОПЫТ РАБОТЫ
	br
	p 
		!="<b>2006 - 2019 гг.</b> – Федеральный ГБУ Детский ортопедический институт им. Г.И. Турнера, Санкт - Петербург, врач травматолог - ортопед"
	p 
		!="<b>2010 - 2017 гг.</b> - клиника Medswiss, Санкт - Петербург, пластический хирург, травматолог ортопед."
	p 
		!="<b>2018 - 2022 гг.</b> – клиника МЕДСИ, Санкт - Петербург, пластический хирург."
	p 
		!="<b>2022 - наст. время</b> - клиника Арт Пластик, Москва, пластический хирург"
	p 
		!="<b>2022 - наст. время</b> - Немецкая семейная клиника, Санкт - Петербург, руководитель Центра пластической хирургии и эстетической медицины, пластический, реконструктивный хирург."
	p 
		!="<b>С 2014 г</b> – кафедра пластической и реконструктивной хирургии Санкт - Петербургского Государственного Педиатрического Медицинского Университета, доцент.Стажировки по пластической хирургии в ведущих клиниках Австралии, США, Германии, Швеции, Италии, Испании (Брайн Мендельсон, Сэм Хамра, Эндрю Джаконо, Дирк Рихтер и другие."
	br
	br
	h3 
		!="МЕТОДИКИ РАБОТЫ"
	br
	ul 
		li 
			| Повышение уровня гражданского сознания
		li 
			| Противоположная точка зрения подразумевает, что базовые сценарии поведения пользователей набирают популярность 
		li 
			| Базовые сценарии поведения пользователей и по сей день остаются уделом либералов, которые жаждут быть объединены в целые кластеры себе подобных
		li 
			| Психические заболевания, которые могут привести к нарушению восстановления после операции
		li 
			| Предприниматели в сети интернет будут в равной степени предоставлены сами себе