.header {
	position: relative;
	display: block;
	width: 100%;
	background: $gray-bg;
	padding: 32px 0 33px 0;
	.menu{
			position: relative;
			display: flex;
			width: 100%;
			flex-flow: row nowrap;
			list-style-type: none;
			justify-content: space-between;
			font-weight: 300;
			font-size: 18px;
			text-transform: uppercase;
			&__item{
					flex: 0 1 auto;
					margin-right: 0px;
					padding: 14px 17px 9px 17px;
					transition: all 0.3s;
					@media (max-width: 1450px) {
						font-size: 16px;
					}
					.menu__link {
						svg {
							margin-left: 15px;
						}
					}
					&:hover{
							margin-right: 0px;
							.menu__link {
								border-bottom: 2px solid transparent;
								text-shadow: 0 0 0.7px #4C6E9A, 0 0 0.7px #4C6E9A;
								color: #4C6E9A;
								font-weight: 300;
							}
					}
					&__invested {
						&:hover{
							margin-right: 0px;
							.menu__link {
								border-bottom: 2px solid transparent;
								text-shadow: none;
								color: #5f6366;
								font-weight: 300;
							}
					}
					}
					&.active {
						background: #fff;
						border-radius: 10px 10px 0px 0px;
						color: #4C6E9A;
						.menu__link {
							border-bottom: 2px solid transparent;
							text-shadow: 0 0 0.7px #4C6E9A, 0 0 0.7px #4C6E9A;
							color: #4C6E9A;
							font-weight: 300;
							svg {
								path {
									fill: #4C6E9A;
								}
								fill: #4C6E9A;
								transition: all 0.3s;
								transform: rotate(180deg);
							}
						}
						.menu-laptop__list {
							transition: all 0.3s;
							width: 100%;
							height: auto;
							visibility: inherit;
							pointer-events: all;
							display: flex;
							opacity: 1;

						}
					}
					&:nth-child(3){
							&:hover{
									margin-right: 0px;
							}
					}
					&:nth-child(7){
							&:hover{
									margin-right: 0px;
							}
					}
					&:nth-child(5), &:nth-child(6){
							&:hover{
									margin-right: 0px;
							}
					}
			}
			&__link{
					position: relative;
					display: block;
					width: auto;
					padding: 7px 0;
					border-bottom: 2px solid transparent;
					svg {
						margin-left: 20px;
						transition: all 0.3s;
						transform: rotate(0deg);
						margin-bottom: 2px;
					}
					&.active {
						background: #fff !important;
						border-radius: 10px 10px 0px 0px !important;
						color: #4C6E9A !important;
					}
			}
	}
	.js-menu__link__invested {
		&:hover {
			background: #fff;
			border-radius: 10px 10px 0px 0px;
			color: #4C6E9A;
			.menu__link {
				border-bottom: 2px solid transparent;
				text-shadow: 0 0 0.7px #4C6E9A, 0 0 0.7px #4C6E9A;
				color: #4C6E9A;
				font-weight: 300;
				svg {
					path {
						fill: #4C6E9A;
					}
					fill: #4C6E9A;
					transition: all 0.3s;
					transform: rotate(180deg);
				}
			}
			.menu-laptop__list {
				transition: all 0.3s;
				width: 100%;
				height: auto;
				visibility: inherit;
				pointer-events: all;
				display: flex;
				opacity: 1;

			}
			
		}
	}
}
.about {
	&__fact {
		margin-top: 0;
		margin-bottom: 61px;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;

		&__count {
			position: relative;
			display: inline-block;
			top: 10px;
			line-height: 1;
		}
	}
	&__bcgr{
		&-right {
			width: 48%;
		}
	}
	&__photo {
		right: 140px;
	}
}
.header .connection {
	margin-bottom: 25px;
}
.connection{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;

	&__social{
			display: flex;
			width: 150px;
			justify-content: space-between;
			&-item{
					width: 30px;
					height: 30px;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 100%;
			}
	}

	.search {
			width: 500px;
			position: relative;
			@include max(lg) {
				display: none;
			}
			input {
					width: 100%;
					height: 42px;
					border: none;
					background: #EAEEF3;
					border-bottom: 1px solid #D9D9D9;
					padding: 0 20px;
					font-weight: 300;
					font-size: 14px;
					outline:none;
					&:focus-visible {
						border: 1px solid $sec-dark-blue;
					}
					
			}
			[type="search"]::-webkit-search-cancel-button {
				margin-right: 30px;
			}
			button{
					bottom: 7px;
					right: 20px;
					border: none;
					background: transparent;
					position: absolute;
			}
	}
	&__logo {
		width: 258px;
		@include max(lg) {
			width: 200px;
		}
		img {
			position: relative;
			display: block; 
			width: 100%;
		}
	}
	&__contacts{
			font-weight: 300;
			font-size: 16px;
			line-height: 30px;
			&::before{
					content: url('../img/icons/phone.png') !important;
					display: inline-block;
					width: 20px;
					height: 20px;
					position: relative;
					top: 5px;
			}
	}

	&__signup{
			width: 95px;
			display: flex;
			justify-content: center;
	}
	&__contacts {
		border-bottom: 2px solid transparent;
		&:hover{
			border-bottom: 2px solid #4C6E9A;
			text-shadow: 0 0 0.7px #4C6E9A, 0 0 0.7px #4C6E9A;
			color: #4C6E9A;
			font-weight: 300;
		}
	}
	&__button{
			border: none;
			background: transparent;
			text-transform: uppercase;
			font-weight: 300;
			font-size: 14px;
			color: $dark-gray;
			padding: 8px 0;
			border-bottom: 2px solid transparent;
			&:hover{
				border-bottom: 2px solid #4C6E9A;
				text-shadow: 0 0 0.7px #4C6E9A, 0 0 0.7px #4C6E9A;
				color: #4C6E9A;
				font-weight: 300;
			}
	}
}
header.header {
	@include max(lg) {
		padding: 32px 0 0px 0;
	}
	@include max(xs) {
		padding: 20px 0 0px 0;
	}
	.connection__social {
		@include max(sm) {
			display: none;
		}
	}
	.connection__phone {
		@include max(xs) {
			display: none;
		}
	}
	.connection__logo {
		@include max(xs) {
			width: 150px;
		}
		img {
			@include max(xs) {
				height: auto;
			}		
		}
	}
	.connection {
		@include max(xs) {
			margin-bottom: 20px;
		}			
	}
}
.menu-laptop {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-flow: column;
	width: 100%;
	&__list {
		position: absolute;
		left: 0;
		top: 50px;
		width: 100%;
		transition: all 0.3s;
		display: flex;
		visibility: hidden;
		pointer-events: none;
		opacity: 0;
		justify-content: center;
		align-items: flex-start;
		background: #fff;
		z-index: 9999;
		padding-top: 30px;
		padding-bottom: 50px;
		&::before {
			position: absolute;
			top: 0;
			content: '';
			width: calc(100vw - 17px);
			height: 100%;
			background: #fff;
		}
	}
	.menu-light__tab__line {
		@include max(sm) {
			display: none;
		}
	}
	&__section {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		padding-top: 38px;
		padding-bottom: 53px;
		width: 100%;
		background: #F6F8FA;
	}

	&__tabs {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		padding-top: 25px;
		padding-bottom: 25px;
		border-top: 1px solid #DDD;
		border-bottom: 1px solid #DDD;
		@include max(lgBig) {
			flex-flow: row wrap;
		}
	}
	&__tab {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: auto;
		margin-right: 35px;
		transition: all 0.3s;
		cursor: pointer;
		@include max(lgBig) {
			margin-bottom: 24px;
		}
		&:hover {
			transition: all 0.3s;
			.menu-laptop__tab__line {
				background: #4D6E9B;
			}
			.menu-laptop__tab__icon {
				svg {
					path.no-fill {
						fill: transparent;
					}
					path {
						fill: #4D6E9B;
					}
				}
			}
			.menu-laptop__tab__text {
				color: #4D6E9B;
			}
		}
		&.active {
			transition: all 0.3s;
			.menu-laptop__tab__line {
				background: #4D6E9B;
			}
			.menu-laptop__tab__icon {
				svg {
					path.no-fill {
						fill: transparent;
					}
					path {
						fill: #4D6E9B;
					}
				}
			}
			.menu-laptop__tab__text {
				color: #4D6E9B;
			}			
		}
		&__line {
			position: relative;
			width: 33px;
			height: 2px;
			background: #5F6366;
			margin-right: 7px;
			pointer-events: none;
			@include max(sm) {
				display: none;
			}
		}
		&__icon {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 83px;
			height: 83px;
			margin-right: 21px;
			pointer-events: none;
			@include max(sm) {
				width: 53px;
				height: 53px;
				margin-right: 15px;
			}
			img {
				position: relative;
				width: 100%;
				height: 100%;
				display: block;
			}
		}
		&__text {
			color: #5F6366;
			font-size: 25px;
			font-style: normal;
			font-weight: 300;
			line-height: normal;
			letter-spacing: 0.5px;
			pointer-events: none;
			@include max(sm) {
        font-size: 20px !important;
			}
			@include max(xs) {
					font-size: 14px !important;
			}
		}
	}
	&__tab-content {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-top: 35px;
		display: none;
		&.active {
			display: flex;
		}
		@include max(sm) {
			margin-top: 25px;
		}		
		.operations {
			&__item {
				&__list {
					padding-left: 0;
				}
			}
		}
	}

}
.menu__desc {
	@include max(lg) {
		display: none !important;
	}
}
.mob-menu {
	position: relative;
	display: flex;
	width: 100%;
	max-width: 400px;
	padding: 32px  16px 44px 16px;
	padding-top: 40px;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	z-index: 9999;
	background: #7F8285;
	height: calc(100vh - 0px);
	overflow-y: auto;
	&__close {
		position: absolute;
		top: 15px;
		right: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		transition: all .3s;
		@include max(xs) {
			top: 15px;
			right: 15px;
		}
		&:hover {
			transition: all .3s;
			svg {
				fill: #5F6366; 
				path {
					fill: #5F6366;
				}
			}
		}
	}
	.search__mob {
		width: 500px;
		position: relative;
		@include max(lg) {
			width: 300px;
		}
		input {
				width: 100%;
				height: 42px;
				border: none;
				background: #EAEEF3;
				border-bottom: 1px solid #D9D9D9;
				padding: 0 20px;
				font-weight: 300;
				font-size: 14px;
				outline:none;
				&:focus-visible {
					border: 1px solid $sec-dark-blue;
				}
				
		}
		[type="search"]::-webkit-search-cancel-button {
			margin-right: 30px;
		}
		button{
				bottom: 7px;
				right: 20px;
				border: none;
				background: transparent;
				position: absolute;
		}
	}
	.connection__social-item {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 10px;
	}
	&__section {
		position: fixed;
		top: 0px;
		left: 100vw;
		width: 0vw;
		height: 0vh;
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		overflow: hidden;
		transition: all .5s;
		z-index: 999;
		&.active {
			transition: all .5s;
			width: 100vw;
			height: 100vh;
			left: 0;
		}
	}
	&--close {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		right: 10px;
		top: 10px;
	}
	&--overlay {
		position: absolute;
		left: 0;
		right: 0;
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(6, 6, 6, 0.592);
		z-index: 990;
	}
	&--list {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		width: 100%;
		justify-content: flex-start;
		align-items: flex-start;
		margin-bottom: 32px;
		border-bottom: 1px solid #fff;
		&__link {
			position: relative;
			display: block;
			color: #fff;
			margin-right: 10px;
			margin-bottom: 10px;
			svg {
				fill: #fff;
				width: 15px;
				margin-right: 7px;
				margin-bottom: 5px;
				rect {
					fill: #fff;
				}
			}
		}
	}
	&--item {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		color: #fff;
		font-size: 14px;
		font-style: normal;
		font-weight: 550;
		line-height: normal;
		letter-spacing: 0.7px;
		text-transform: uppercase;
		a {
			position: relative;
			display: flex;
			transition: all .3s;
			color: #fff;
			font-size: 14px;
			font-style: normal;
			font-weight: 550;
			line-height: normal;
			letter-spacing: 0.7px;
			text-transform: uppercase;
			&:hover {
				color: #fff;
				transition: all .3s;
			}
			text-decoration: none;		
		}
	}
	&__fone {
		position: relative;
		display: block;
		color: #fff;
		text-align: right;
		font-size: 22px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 1.1px;
		text-transform: uppercase;
		a {
			display: block;
			text-decoration: none;
			position: relative;
			color: #fff;
			text-align: right;
			font-size: 22px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 1.1px;
			text-transform: uppercase;
			transition: all 0.3s;
			&:hover {
				transition: all 0.3s;
				color: #fff;
			}		
		}
	}
	&__top {
		position: relative;
		display: flex;
		width: 100%;
		justify-content: flex-start;
		align-items: flex-start;
		flex-flow: column nowrap;
		margin-bottom: 32px;
		border-bottom: 1px solid #fff;
		&__row {
			position: relative;
			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 26px;
		}
	}
	&__bottom {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-flow: column nowrap;
	}
	.header__other__user {
		svg {
			margin-right: 10px;
		}
	}
	.header__other__lang {
		margin-right: 0;
	}
	.soc {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-flow: row nowrap;
		left: auto;
		top: auto;
		margin-top: 22px;
		&__text {
			display: none;
		}
		&__item {
			margin-right: 16px;
			&:hover {
				.soc__item__text {
					transition: all .5s;
					display: none;
					width: 0px;
					padding-left: 0px;
				}
			}
		}
	}
	.mob-menu--list{
		&__item {
			color: #fff;
			font-size: 25px;
			font-style: normal;
			font-weight: 300;
			line-height: normal;
			letter-spacing: 0.5px;
			margin-bottom: 16px;
		}
		.accordion-group { 
			position: relative;
			margin-bottom: 16px;
			min-height: 28px;
		}
		.accordion-link + .accordion-header.open {
			color: #EDB3BE;
		}
		.accordion-link {
			position: absolute;
			top: 0;
			left: 25px;
			color: #fff;
			font-size: 25px;
			font-style: normal;
			font-weight: 300;
			line-height: normal;
			letter-spacing: 0.5px;
			margin-bottom: 0px;
			margin-left: 0px;
			cursor: pointer;
			display: flex;
			justify-content: flex-start;
			padding-left: 0px;
			text-transform: uppercase;
		}
		.accordion-body {
				display: none;
				padding-left: 10px;
				margin-bottom: 20px;  
		}
		// .accordion-body > * > .accordion-body {
		// 		margin: 0;
		// }
		.accordion-header {
			color: #fff;
			font-size: 25px;
			font-style: normal;
			font-weight: 300;
			line-height: normal;
			letter-spacing: 0.5px;
			margin-left: 25px;
			cursor: pointer;
			position: relative;
			display: flex;
			justify-content: flex-start;
			min-height: 28px;
			padding-left: 0px;
			text-transform: uppercase;
			&::before {
				content: url(../img/folder.svg);
				margin-right: 8px;
				position: relative;
				height: 12px;
				display: none;
			}
		}
		.accordion-header::after {
				content: url(../img/svg/open__row.svg);
				color: #EDB3BE;
				position: absolute;
				left: -25px;
				top: -5px;
				height: 12px;
				transition: all .3s;
				transform: rotate(45deg);
				animation-name: accordionRotationOpen;
				animation-duration: .2s;
				animation-iteration-count: 1;
				animation-timing-function: linear;
				animation-fill-mode: forwards;
		}
		.accordion-header.open {
				color: #EDB3BE;
				margin-bottom: 16px;
				width: 0px;
				&::before {
					content: url(../img/folder__red.svg);
				}
				&::after {
					animation-name: accordionRotationClose;
					animation-duration: .2s;
					animation-iteration-count: 1;
					animation-timing-function: linear;
					animation-fill-mode: forwards;
				}
		}
		@keyframes accordionRotationOpen  {
			0% {
				transform-origin: 50% 50%;
				transform: rotate(30deg);
			}
		
			100% {
				transform-origin: 50% 50%;
				transform: rotate(0deg);
			}
		
		}
		@keyframes accordionRotationClose {
			0% {
				transform-origin: 50% 50%;
				transform: rotate(0deg);
			}
			100% {
				transform-origin: 50% 50%;
				transform: rotate(30deg);
			}
		
		}
	}
}	
.hamburger {
	display: none;
	@include max(lg) {
		display: block;
	}
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after  {
	background-color: #5F6366;
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
	background-color: #5F6366;
}
