<section class="reviews">
		<div class="container">
				<div class="reviews__wrapper">

						<div class="reviews__content">
								<h3 class="section-title turquoise">Отзывы</h3>
								<p class="reviews__item text__20">"Добрый день, хочу выразить свою искреннюю благодарность пластическому хирургу Немецкой семенной клиники Говорову Антону Владимировичу который  провел высококвалифицированную пластическую операцию Спейслифтинг и серединную платизмапластику. Антон Владимирович просто хирург, что называется от Бога, я бесконечно благодарна ему за его профессионализм.  Спасибо что есть такие ДОКТОРА!!!! "
								</p>
								<a href="#" class="detail turquoise">подробнее</a>
						</div>

						<div class="reviews__directions">
								<div class="reviews__directions__item reviews__directions__active">
										<img src="img/silhoette/silhouette_face.png" alt="Силуэт лица">
										<span>Лицо</span>
								</div>
								<div class="reviews__directions__item turquoise">
										<img src="img/silhoette/turquoise/breast.svg" alt="Силуют груди">
										<span>Грудь</span>
								</div>
								<div class="reviews__directions__item turquoise">
										<img src="img/silhoette/turquoise/body.svg" alt="Силуют тела">
										<span>Тело</span>
								</div>
								<div class="reviews__directions__item turquoise">
										<img src="img/silhoette/turquoise/neck.svg" alt="Силуют шеи">
										<span>Авторские</span>
								</div>
						</div>
				</div>
		</div>
</section>