extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "News page"

block content
	.container
		.title__100.pink Новость
		include ../../blocks/components/block-text-two-new/block-text-two-new
		section.news__section
			.news__top
				.news__title.title__100.pink Другие новости
			.news 
				.new
					.new__img 
						img(src="img/new__1.png", alt="")
					.new__text.text__25 
						!="граница обучения кадров напрямую зависимости от дальнейших направлений развития"	
					.new__bottom
						a(href="").new__bottom__btn.detail.pink подробнее
						.new__date
							.new__date__value 30.08.23
							.new__date__img
								<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
								<path d="M20 40C31.0457 40 40 31.0457 40 20C40 8.95429 31.0457 0 20 0C8.9543 0 0 8.95429 0 20C0 31.0457 8.9543 40 20 40Z" fill="#EDB4BE"/>
								<path d="M20 9C17.8244 9 15.6977 9.64514 13.8887 10.8538C12.0798 12.0625 10.6699 13.7805 9.83733 15.7905C9.00477 17.8005 8.78693 20.0122 9.21137 22.146C9.6358 24.2798 10.6835 26.2398 12.2218 27.7782C13.7602 29.3165 15.7202 30.3642 17.854 30.7886C19.9878 31.2131 22.1995 30.9952 24.2095 30.1627C26.2195 29.3301 27.9375 27.9202 29.1462 26.1113C30.3549 24.3023 31 22.1756 31 20C30.9966 17.0837 29.8365 14.2878 27.7744 12.2256C25.7122 10.1635 22.9163 9.00344 20 9ZM20 29C18.22 29 16.4799 28.4722 14.9999 27.4832C13.5198 26.4943 12.3663 25.0887 11.6851 23.4441C11.0039 21.7996 10.8257 19.99 11.1729 18.2442C11.5202 16.4984 12.3774 14.8947 13.636 13.636C14.8947 12.3774 16.4984 11.5202 18.2442 11.1729C19.99 10.8257 21.7996 11.0039 23.4442 11.6851C25.0887 12.3663 26.4943 13.5198 27.4832 14.9999C28.4722 16.4799 29 18.22 29 20C28.9971 22.3861 28.0479 24.6735 26.3607 26.3607C24.6736 28.0479 22.3861 28.9971 20 29Z" fill="white"/>
								<path d="M21 19.586V14C21 13.7348 20.8946 13.4804 20.7071 13.2929C20.5196 13.1054 20.2652 13 20 13C19.7348 13 19.4804 13.1054 19.2929 13.2929C19.1054 13.4804 19 13.7348 19 14V20C19.0001 20.2652 19.1055 20.5195 19.293 20.707L22.293 23.707C22.4816 23.8892 22.7342 23.99 22.9964 23.9877C23.2586 23.9854 23.5094 23.8802 23.6948 23.6948C23.8802 23.5094 23.9854 23.2586 23.9877 22.9964C23.99 22.7342 23.8892 22.4816 23.707 22.293L21 19.586Z" fill="white"/>
								</svg>			
				.new
					.new__img 
						img(src="img/new__2.png", alt="")
					.new__text.text__25 
						!="Разнообразный и богатый опыт"	
					.new__bottom
						a(href="").new__bottom__btn.detail.pink подробнее
						.new__date
							.new__date__value 30.08.23
							.new__date__img
								<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
								<path d="M20 40C31.0457 40 40 31.0457 40 20C40 8.95429 31.0457 0 20 0C8.9543 0 0 8.95429 0 20C0 31.0457 8.9543 40 20 40Z" fill="#EDB4BE"/>
								<path d="M20 9C17.8244 9 15.6977 9.64514 13.8887 10.8538C12.0798 12.0625 10.6699 13.7805 9.83733 15.7905C9.00477 17.8005 8.78693 20.0122 9.21137 22.146C9.6358 24.2798 10.6835 26.2398 12.2218 27.7782C13.7602 29.3165 15.7202 30.3642 17.854 30.7886C19.9878 31.2131 22.1995 30.9952 24.2095 30.1627C26.2195 29.3301 27.9375 27.9202 29.1462 26.1113C30.3549 24.3023 31 22.1756 31 20C30.9966 17.0837 29.8365 14.2878 27.7744 12.2256C25.7122 10.1635 22.9163 9.00344 20 9ZM20 29C18.22 29 16.4799 28.4722 14.9999 27.4832C13.5198 26.4943 12.3663 25.0887 11.6851 23.4441C11.0039 21.7996 10.8257 19.99 11.1729 18.2442C11.5202 16.4984 12.3774 14.8947 13.636 13.636C14.8947 12.3774 16.4984 11.5202 18.2442 11.1729C19.99 10.8257 21.7996 11.0039 23.4442 11.6851C25.0887 12.3663 26.4943 13.5198 27.4832 14.9999C28.4722 16.4799 29 18.22 29 20C28.9971 22.3861 28.0479 24.6735 26.3607 26.3607C24.6736 28.0479 22.3861 28.9971 20 29Z" fill="white"/>
								<path d="M21 19.586V14C21 13.7348 20.8946 13.4804 20.7071 13.2929C20.5196 13.1054 20.2652 13 20 13C19.7348 13 19.4804 13.1054 19.2929 13.2929C19.1054 13.4804 19 13.7348 19 14V20C19.0001 20.2652 19.1055 20.5195 19.293 20.707L22.293 23.707C22.4816 23.8892 22.7342 23.99 22.9964 23.9877C23.2586 23.9854 23.5094 23.8802 23.6948 23.6948C23.8802 23.5094 23.9854 23.2586 23.9877 22.9964C23.99 22.7342 23.8892 22.4816 23.707 22.293L21 19.586Z" fill="white"/>
								</svg>			
				.new
					.new__img 
						img(src="img/new__3.png", alt="")
					.new__text.text__25 
						!="Cуществующая теория не даёт нам иного выбора внедрения и модернизации"	
					.new__bottom
						a(href="").new__bottom__btn.detail.pink подробнее
						.new__date
							.new__date__value 30.08.23
							.new__date__img
								<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
								<path d="M20 40C31.0457 40 40 31.0457 40 20C40 8.95429 31.0457 0 20 0C8.9543 0 0 8.95429 0 20C0 31.0457 8.9543 40 20 40Z" fill="#EDB4BE"/>
								<path d="M20 9C17.8244 9 15.6977 9.64514 13.8887 10.8538C12.0798 12.0625 10.6699 13.7805 9.83733 15.7905C9.00477 17.8005 8.78693 20.0122 9.21137 22.146C9.6358 24.2798 10.6835 26.2398 12.2218 27.7782C13.7602 29.3165 15.7202 30.3642 17.854 30.7886C19.9878 31.2131 22.1995 30.9952 24.2095 30.1627C26.2195 29.3301 27.9375 27.9202 29.1462 26.1113C30.3549 24.3023 31 22.1756 31 20C30.9966 17.0837 29.8365 14.2878 27.7744 12.2256C25.7122 10.1635 22.9163 9.00344 20 9ZM20 29C18.22 29 16.4799 28.4722 14.9999 27.4832C13.5198 26.4943 12.3663 25.0887 11.6851 23.4441C11.0039 21.7996 10.8257 19.99 11.1729 18.2442C11.5202 16.4984 12.3774 14.8947 13.636 13.636C14.8947 12.3774 16.4984 11.5202 18.2442 11.1729C19.99 10.8257 21.7996 11.0039 23.4442 11.6851C25.0887 12.3663 26.4943 13.5198 27.4832 14.9999C28.4722 16.4799 29 18.22 29 20C28.9971 22.3861 28.0479 24.6735 26.3607 26.3607C24.6736 28.0479 22.3861 28.9971 20 29Z" fill="white"/>
								<path d="M21 19.586V14C21 13.7348 20.8946 13.4804 20.7071 13.2929C20.5196 13.1054 20.2652 13 20 13C19.7348 13 19.4804 13.1054 19.2929 13.2929C19.1054 13.4804 19 13.7348 19 14V20C19.0001 20.2652 19.1055 20.5195 19.293 20.707L22.293 23.707C22.4816 23.8892 22.7342 23.99 22.9964 23.9877C23.2586 23.9854 23.5094 23.8802 23.6948 23.6948C23.8802 23.5094 23.9854 23.2586 23.9877 22.9964C23.99 22.7342 23.8892 22.4816 23.707 22.293L21 19.586Z" fill="white"/>
								</svg>			
		
	include ../../blocks/components/service/service
	<section class="section__jarallax">
		<div class="jarallax">
			<picture class="jarallax-img">
				<source media="..." srcset="img/section--8.png">
				<img src="img/section--8.png" alt="">
			</picture>
		</div>	
	</section>

	<section class="order-call">
			<form action="">
					<input type="tel" name="phone_1" class="js-mask-phone input__phone " placeholder="+7 (___) ___-__-__">
					<input type="submit" class="order-call__submit blue-buttom" value="Заказать звонок" />
			</form>
	</section>

	