extends layouts/default
include helpers/mixins

block variables
	- const title = "Main page"

block content
	
	<section class="preview">
			<div class="container">
					<div class="swiper preview__slider js-preview__slider">
							<div class="swiper-wrapper">
									<div class="swiper-slide preview__slide ">
											<div class="preview__slide__content">
													<p class="preview__slide__title  title__46">ПЛАСТИЧЕСКИЕ ОПЕРАЦИИ ЛИЦА</p>
													<p class="preview__slide__descr text__20">Как правило, с первого взгляда мы можем определить  приблизительный возраст незнакомого человека. Всё дело в специфических визуальных маркерах — отдельных приметах, которые ассоциируются с те или иным жизненным периодом. С годами кожа теряе эластичность, активная мимика оставляет морщинки на лбу и в уголках глаз, намечаются носогубные складки,  неровности и другие очевидные изменения.</p>
													<a href="#" class="detail turquoise">подробнее</a>
											</div>
											<div class="preview__slide__picture">
												<img src="img/operations/women.png" alt="Women">
											</div>
											<div class="preview__slider-counter">№<span id="current">2</span>
													<div class="preview__slider-line"></div>
											</div>
									</div>
									<div class="swiper-slide preview__slide ">
											<div class="preview__slide__content">
													<p class="preview__slide__title  title__46">ПЛАСТИЧЕСКИЕ ОПЕРАЦИИ ЛИЦА</p>
													<p class="preview__slide__descr text__20">Как правило, с первого взгляда мы можем определить  приблизительный возраст незнакомого человека. Всё дело в специфических визуальных маркерах — отдельных приметах, которые ассоциируются с те или иным жизненным периодом. С годами кожа теряе эластичность, активная мимика оставляет морщинки на лбу и в уголках глаз, намечаются носогубные складки,  неровности и другие очевидные изменения.</p>
													<a href="#" class="detail turquoise">подробнее</a>
											</div>
											<div class="preview__slide__picture">
												<img src="img/operations/women.png" alt="Women">
											</div>
											<div class="preview__slider-counter">№<span id="current">2</span>
													<div class="preview__slider-line"></div>
											</div>
									</div>
									<div class="swiper-slide preview__slide ">
											<div class="preview__slide__content">
													<p class="preview__slide__title  title__46">ПЛАСТИЧЕСКИЕ ОПЕРАЦИИ ЛИЦА</p>
													<p class="preview__slide__descr text__20">Как правило, с первого взгляда мы можем определить  приблизительный возраст незнакомого человека. Всё дело в специфических визуальных маркерах — отдельных приметах, которые ассоциируются с те или иным жизненным периодом. С годами кожа теряе эластичность, активная мимика оставляет морщинки на лбу и в уголках глаз, намечаются носогубные складки,  неровности и другие очевидные изменения.</p>
													<a href="#" class="detail turquoise">подробнее</a>
											</div>
											<div class="preview__slide__picture">
												<img src="img/operations/women.png" alt="Women">
											</div>
											<div class="preview__slider-counter">№<span id="current">2</span>
													<div class="preview__slider-line"></div>
											</div>
									</div>
									<div class="swiper-slide preview__slide ">
											<div class="preview__slide__content">
													<p class="preview__slide__title  title__46">ПЛАСТИЧЕСКИЕ ОПЕРАЦИИ ЛИЦА</p>
													<p class="preview__slide__descr text__20">Как правило, с первого взгляда мы можем определить  приблизительный возраст незнакомого человека. Всё дело в специфических визуальных маркерах — отдельных приметах, которые ассоциируются с те или иным жизненным периодом. С годами кожа теряе эластичность, активная мимика оставляет морщинки на лбу и в уголках глаз, намечаются носогубные складки,  неровности и другие очевидные изменения.</p>
													<a href="#" class="detail turquoise">подробнее</a>
											</div>
											<div class="preview__slide__picture">
												<img src="img/operations/women.png" alt="Women">
											</div>
											<div class="preview__slider-counter">№<span id="current">2</span>
													<div class="preview__slider-line"></div>
											</div>
									</div>
	
							</div>
							<div class="swiper-pagination preview__slider__pagination"></div>

					</div>
					<div class="preview__sidepanel">
							<div class="preview__sidepanel__social">
									<a href="#" class="preview__sidepanel__icon blue-bg">
											<img src="img/svg/telegram.svg" alt="telegram">
									</a>
									<a href="#" class="preview__sidepanel__icon pink-bg">
											<img src="img/svg/instagram.svg" alt="instagram">
									</a>
									<a href="#" class="preview__sidepanel__icon dark-blue-bg">
											<img src="img/svg/vk2.svg" alt="vkontact">
									</a>
							</div>
							<div class="preview__sidepanel__text"><a href="#">Блог | Новости</a></div>
					</div>

					<div class="preview__circles">
							<a class="preview__circles__item">
									<img src="img/silhoette/silhouette_face.png" alt="Силуэт лица">
									<span>Лицо</span>
							</a>
							<a class="preview__circles__item">
									<img src="img/silhoette/silhouette_breast.png" alt="Силуэт груди">
									<span>Грудь</span>
							</a>
							<a class="preview__circles__item">
									<img src="img/silhoette/silhouette_body.png" alt="Силуэт тела">
									<span>Тело</span>
							</a>
							<a class="preview__circles__item">
									<img src="img/silhoette/silhouette_neck.png" alt="Силуэт шеи">
									<span>Авторские</span>
							</a>
					</div>
			</div>
	</section>
	<section class="section__jarallax">
		<div class="jarallax">
			<picture class="jarallax-img">
				<source media="..." srcset="img/section--2.png">
				<img src="img/section--2.png" alt="">
			</picture>
		</div>	
	</section>
	<section class="about">
			<div class="container">
					<div class="about__data">
							<h2 class="about__data__name title__44"><span>Говоров</span> <br>Антон Владимирович</h2>
							<div class="about__data__post text__20">Пластический хирург по пластике лица клиники Арт Пластик (Москва), Заведующий Центром пластической хирургии «Немецкая семейная клиника»
							</div>
							
							<p class="about__data__descr text__20"><span>Антон Владимирович Говоров</span> выполняет широкий спектр пластических и реконструктивных операций на лице и теле любой сложности, в совершенстве владеет современными эффективными и безопасными методами омоложения. Уникальные методыи индивидуальный подход, выверенные для каждого отдельного пациента, гарантируют безопасностьи получение только наилучших рузультатов: возвращениемолодости лица с сохранением естественности.
							</p>
							<a href="#" class="detail white">подробнее</a>
					</div>
					<div class="about__photo about__photo--mob">
						picture.about__picture
							source(media="(max-width: 767px)", srcset="img/body_surgery--mob.png")
							img(src="img/body_surgery.png", alt="picture")
					</div>					
					<div class="about__facts">
							<div class="about__fact">
									<div class="about__fact__descr">Врачебного стажа</div>
									<div class="about__fact__count">19 лет</div>
							</div>
							<div class="about__fact">
									<div class="about__fact__descr">Операций <br>в год</div>
									<div class="about__fact__count">350+</div>
							</div>
							<div class="about__fact">
									<div class="about__fact__descr">Счастливых лиц</div>
									<div class="about__fact__count">1500+</div>
							</div>
							<div class="about__fact">
									<div class="about__fact__descr">Уникальные сертифици-<br>рованные техники</div>
									<div class="about__fact__count">4</div>
							</div>
					</div>
			</div>
			<div class="about__bcgr-right"></div>
			<div class="about__photo about__photo--desc">
				picture.about__picture
					source(media="(max-width: 767px)", srcset="img/body_surgery--mob.png")
					img(src="img/body_surgery.png", alt="picture")
			</div>
	</section>
	section.advantages__section.about__advantages__section
		.container
			.advantages
				.advantages__item
					.advantages__item__value.title__65 19 лет
					.advantages__item__text.text__25
						!="ВРАЧЕБНОГО<br> СТАЖА"
				.advantages__item
					.advantages__item__value.title__65 350+
					.advantages__item__text.text__25
						!="ОПЕРАЦИЙ<br> В ГОД"
				.advantages__item
					.advantages__item__value.title__65 1500+
					.advantages__item__text.text__25
						!="СЧАСТЛИВЫХ<br> ЛИЦ"
				.advantages__item
					.advantages__item__value.title__65 4
					.advantages__item__text.text__25
						!="УНИКАЛЬНЫЕ<br> СЕРТИФИЦИРОВАННЫЕ ТЕХНИКИ"
	section.offer__section.offer__section--light
		.container
			.offer
				<div class="offer__wrapper">
						<h2 class="offer__title offer__title--desc">Получить специальное предложение на операцию:</h2>
						<img src="img/reception.png" alt="Прием">
						<form action="" class="form-connection offer__form">
								<h2 class="offer__title offer__title--mob">Получить специальное предложение на операцию:</h2>
								.periodSelect.periodSelect--no-border
									<select class="js-example-responsive--no-border periodSelect__date__value__month date-month">
										<option  value="" selected>Направление операции</option>  
										<option  value="" >Направление операции 1</option>
										<option  value="" >Направление операции 2</option>
										<option  value="" >Направление операции 3</option>
										<option  value="" >Направление операции 4</option>
									</select>

								<input type="text" name="name"  placeholder="Имя">
								<input type="tel" name="phone"  class="js-mask-phone input__phone " placeholder="+7 (___) ___-__-__">
								<input type="submit" class="blue-buttom offer__form__submit" value="Получить скидку" />
						</form>
				</div>


	<section class="surgeon-head">
			<img src="img/surgeon_hand.png" alt="Рука хирурга">
	</section>

	include ../blocks/components/service/service
	include ../blocks/components/portfolio/portfolio


	
	<section class="link-price">
			<div class="container">
					<h3 class="section-title white">Цена<span>и промо</span></h3>
					<a href="#" class="detail white">подробнее</a>
			</div>
	</section>
	<section class="section__jarallax">
		<div class="jarallax" data-jarallax data-video-src="https://www.youtube.com/embed/7PIji8OubXU?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=7PIji8OubXU&mute=1" title="Best of Dolby Vision 12K HDR 120fps" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture">
		</div>
	</section>

	include ../blocks/components/reviews/reviews

	include ../blocks/components/questions/questions
	include ../blocks/components/articles/articles




	<section class="section__jarallax">
		<div class="jarallax" data-jarallax data-video-src="https://www.youtube.com/embed/7PIji8OubXU?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=7PIji8OubXU&mute=1" title="Best of Dolby Vision 12K HDR 120fps" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture">
		</div>
	</section>

	<section class="order-call">
			<form action="">
					<input type="tel" name="phone_1" class="js-mask-phone input__phone " placeholder="+7 (___) ___-__-__">
					<input type="submit" class="order-call__submit blue-buttom" value="Заказать звонок" />
			</form>
	</section>

	