.block__textTwo
	p 
		| Высокие темпы выбросов загрязняющих веществ в городах привели к накоплению в атмосфере огромного количества мельчайших взвешенных частиц - аэрозолей. Аэрозоли антропогенного происхождения обладают сложным химическим составом, включая экологически опасные компоненты техногенных эмиссий. Современные технологии комплексного анализа качества воздуха позволяют ученым делать научно-обоснованные оценки экологического состояния окружающей среды мегаполиса. Инструментальный аэрозольный  комплекс - это часть инновационной системы непрерывного анализа аэрозольных загрязнений атмосферы столицы. Проект имеет особую социальную значимость для улучшения уровня жизни городского населения, открывает перспективы для реализации эффективных стратегий экологического развития и разработки мероприятий по уменьшению опасных последствий загрязнения атмосферы Московского мегаполиса в целом.
	br
	.block__text__color.block-text__mob
		.block__text__color__line
		| Выноски. 8 июня отмечается Всемирный день океана. Памятный день учрежден Генеральной Ассамблеей ООН в 2009 году для напоминания о важной роли океана в жизни планеты и человечества в целом. О профессии океанолога, о современных технологиях и перспективСолдатенко, пресс-служба МГУ.
		.block__text__color__line
	p 
		| Первый Аэрозольный комплекс МГУ был создан  в 2019 г. специалистами Научно – исследовательского института Ядерной физики МГУ  в Арктике, на острове Белый (Карское море).
	br
	p
		| В 2020 году  открыт Аэрозольный комплекс на территории Метеорологической обсерватории МГУ.  Совместный проект географического факультета МГУ  и Научно – исследовательского института Ядерной физики МГУ реализован при поддержке Программы развития Московского университета.
	br
	.block__textTwo__blockPicture.block-text__mob
		img(src="img/projectPage/block__textOne__img__1.png", alt="")
		blockquote
			| Фото с заходом в текстовое поле. Фиксировано по ширине, по высоте может быть любым. И тут же подпись к фотографии. Может быть достаточно длинной несколько строк/небольшой абзац
	.block__textTwo__blockPicture.block-text__mob
		img(src="img/projectPage/block__textOne__img__2.png", alt="")
		img(src="img/projectPage/block__textOne__img__3.png", alt="")
		blockquote
			| Фото с заходом в текстовое поле. Фиксировано по ширине, по высоте может быть любым. И тут же подпись к фотографии. Может быть достаточно длинной несколько строк/небольшой абзац
	p 
		| Инструментальное оборудование Аэрозольного комплекса МГУ установлено за счет гранта на обновление оборудования для научных исследований в рамках федерального проекта «Развитие передовой инфраструктуры для проведения исследований и разработок в Российской Федерации» национального проекта «Наука и университеты»
	br
	img(src="img/projectPage/block__textTwo.png", alt="")
	h2 Подзаголовок большой
	br
	br
	h3 Подзаголок обычный
	br
	br
	a(href="#") Обычная ссылка 
	br
	br
	ul 
		li 
			| Выявлено, что зарубежный подход составления литературных карт ориентирован на картографирование текстов литературных произведений.
		li 
			| Предложенный авторский подход нацелен на выявление и картографирование реальных литературных мест, мемориальных и ассоциативных, существующих в географическом пространстве.
		li 
			| Поэтому типология литературных карт учитывает оба подхода – литературоведческий и культурно-географический.
	br
	br
	ol
		li 
			| Выявлено, что зарубежный подход составления литературных карт ориентирован на картографирование текстов литературных произведений.
		li 
			| Предложенный авторский подход нацелен на выявление и картографирование реальных литературных мест, мемориальных и ассоциативных, существующих в географическом пространстве.
		li 
			| Поэтому типология литературных карт учитывает оба подхода – литературоведческий и культурно-географический.
		li 
			| На основе геоисторического и этнокультурного критериев, и учитывая центрированность русского культурного пространства, осуществлено литературно-географическое районирование страны.
		li 
			| Разработана культурно-географическая методика анализа литературного путешествия.
		li 
			| Важнейшим результатом исследования является структура литературного атласа России, которая включает три важнейших раздела. В первом разделе обстоятельно рассматривается каждый из 10-ти литературных регионов страны. Второй раздел посвящен литературным путешествиям по России, а в третьем раздел представлены результаты многолетних исследований литературного ландшафта Пушкиногорья.
	br
	br
	p 
		!= "Учебный план всех уровней включает четыре блока учебных курсов. Гуманитарные дисциплины — экономика и территориальная организация общества, экономика природопользования, философия, социология, история Отечества и дрс сылка в тексте <a>ссылка в тексте</a>  Фундаментальные естественные дисциплины — высшая математика и программирование, геоинформатика, при наведении основы экологии, биологии, физики и химии." 
	br
	ol
		li 
			| Выявлено, что зарубежный подход составления литературных карт ориентирован на картографирование текстов литературных произведений.
		li 
			| Предложенный авторский подход нацелен на выявление и картографирование реальных литературных мест, мемориальных и ассоциативных, существующих в географическом пространстве.
		li 
			| Поэтому типология литературных карт учитывает оба подхода – литературоведческий и культурно-географический.
		li 
			| На основе геоисторического и этнокультурного критериев, и учитывая центрированность русского культурного пространства, осуществлено литературно-географическое районирование страны.
		li 
			| Разработана культурно-географическая методика анализа литературного путешествия.
		li 
			| Важнейшим результатом исследования является структура литературного атласа России, которая включает три важнейших раздела. В первом разделе обстоятельно рассматривается каждый из 10-ти литературных регионов страны. Второй раздел посвящен литературным путешествиям по России, а в третьем раздел представлены результаты многолетних исследований литературного ландшафта Пушкиногорья.
	br
	br
	.block__textTwo__blockPicture.block-text__mob
		img(src="img/projectPage/block__textOne__img__4.png", alt="")
		blockquote
			| Фото с заходом в текстовое поле. Фиксировано по ширине, по высоте может быть любым. И тут же подпись к фотографии. Может быть достаточно длинной несколько строк/небольшой абзац  Фото с заходом в текстовое поле. Фиксировано по ширине, по высоте может быть любым. И тут же подпись к фотографии. Может быть достаточно длинной несколько строк/небольшой абзац Фото с заходом в текстовое поле. Фиксировано по ширине, по высоте может быть любым. И тут же подпись к фотографии. Может быть достаточно длинной несколько строк/небольшой абзац
	.textTwo__table 
		table
			tbody
				tr 
					th Даты и место
					th Название конференции
					th Срок подачи заявки
				tr 
					td 22-24 февраля 2021 virtual
					td 
						b Esri Federal GIS Conference
					td 08 февраля 2021
				tr 
					td 22-24 апреля 2021 Москва
					td 
						b | XXII международная научно-практическая конференция  «Актуальные проблемы экологии и природопользования»
					td 08 февраля 2021
				tr 
					td 22-24 февраля 2021 virtual
					td 
						b | The 6th Int'l Conference on Geohazards Research and Prevention (GRP 2021)
					td 08 февраля 2021