section.portfolio
	.container
		h3.section-title.portfolio__title.blue Портфолио
		.portfolio__list
			portfolio__list__item__link.portfolio__list__item--one
				a(href="img/portfolio__1.png" data-fancybox="gallery"  data-caption="Большое описание"  data-title="Тут будет название" class="portfolio__list__item__link") 
					img(src="img/portfolio__1.png", alt="#")

			.portfolio__list__item.portfolio__list__item--two
				a(href="img/portfolio__2.png" data-fancybox="gallery"  data-caption="Большое описание"  data-title="Тут будет название" class="portfolio__list__item__link") 
					img(src="img/portfolio__2.png", alt="#")
			.portfolio__list__item.portfolio__list__item--three
				a(href="img/portfolio__3.png" data-fancybox="gallery"  data-caption="Большое описание"  data-title="Тут будет название" class="portfolio__list__item__link") 
					img(src="img/portfolio__3.png", alt="#")

			.portfolio__list__item.portfolio__list__item--four
				a(href="img/portfolio__4.png" data-fancybox="gallery"  data-caption="Большое описание"  data-title="Тут будет название" class="portfolio__list__item__link") 
					img(src="img/portfolio__4.png", alt="#")

			.portfolio__list__item.portfolio__list__item--fife
				a(href="img/portfolio__5.png" data-fancybox="gallery"  data-caption="Большое описание"  data-title="Тут будет название" class="portfolio__list__item__link") 
					img(src="img/portfolio__5.png", alt="#")
			.portfolio__list__item.portfolio__list__item--six
				a(href="img/portfolio__6.png" data-fancybox="gallery"  data-caption="Большое описание"  data-title="Тут будет название" class="portfolio__list__item__link") 
					img(src="img/portfolio__6.png", alt="#")
			.portfolio__list__item.portfolio__list__item--seven
				a(href="img/portfolio__7.png" data-fancybox="gallery"  data-caption="Большое описание"  data-title="Тут будет название" class="portfolio__list__item__link") 
					img(src="img/portfolio__7.png", alt="#")
			.portfolio__list__item.portfolio__list__item--eight
				a(href="img/portfolio__8.png" data-fancybox="gallery"  data-caption="Большое описание"  data-title="Тут будет название" class="portfolio__list__item__link") 
					img(src="img/portfolio__8.png", alt="#")
