.block__textOne
	.block__text__color.block-text__desktop
		.block__text__color__line
		| Выноски. 8 июня отмечается Всемирный день океана. Памятный день учрежден Генеральной Ассамблеей ООН в 2009 году для напоминания о важной роли океана в жизни планеты и человечества в целом. О профессии океанолога, о современных технологиях и перспективСолдатенко, пресс-служба МГУ.
		.block__text__color__line
	img(src="img/projectPage/block__textOne__img__1.png", alt="image")
	blockquote
		| Фото с заходом в текстовое поле. Фиксировано по ширине, по высоте может быть любым. И тут же подпись к фотографии. Может быть достаточно длинной несколько строк/небольшой абзац
	br
	img(src="img/projectPage/block__textOne__img__2.png", alt="image")
	img(src="img/projectPage/block__textOne__img__3.png", alt="image")
	img(src="img/projectPage/block__textOne__img__4.png", alt="image")
	p
		| Об инструментальном аэрозольном комплексе рассказывают президент географического факультета, академик Н.С. Касимов и в.н.с. НИИЯФ МГУ, в.н.с. географического ф-та МГУ, к.ф.-м.н. О.Б. Поповичева
	br
	a.block__textOne__link(href="") смотреть видео
	br
	br
	p Контакты
	a(href="mailto:ikmo-msu@yandex.ru") ikmo-msu@yandex.ru