<section class="questions__section">
	.container
		.questions
			<div class="questions__bg">
					<div class="questions__surgeon">
							<img src="img/surgeon/face_surgery.png" alt="Хирирг">
					</div>
					<div class="blue-square"></div>
					<div class="white-rectangle"></div>
			</div>

			<form action="" class="form-connection questions__form">
					<h4 class="questions__title">Задать вопрос доктору:</h4>
					.periodSelect.periodSelect--no-border
						<select class="js-example-responsive--no-border periodSelect__date__value__month date-month">
							<option  value="" selected>Направление операции</option>  
							<option  value="" >Направление операции 1</option>
							<option  value="" >Направление операции 2</option>
							<option  value="" >Направление операции 3</option>
							<option  value="" >Направление операции 4</option>
						</select>

					<input type="text" name="name"  placeholder="Имя">
					<input type="tel" name="phone"  class="js-mask-phone input__phone " placeholder="+7 (___) ___-__-__">
					<input type="submit" class="blue-buttom" value="Отправить" />
			</form>
</section>