.block__textTwo
	h2
		!="ЭНДОСКОПИЧЕСКАЯ ПОДТЯЖКА ВЕРХНЕЙ ТРЕТИ И ВЕРХНЕЙ ДВУХ ТРЕТЕЙ ЛИЦА"
	br
	br
	.block-slider.float--right
		include ../../../blocks/modules/double-slider/double-slider
	a.block__textTwo__link
		!="Другие операции"
	br
	br
	p 
		!="Эндоскопическая подтяжка верхней трети и верхних двух третей лица - это хирургическая процедура, которая использует эндоскоп для коррекции морщинна лбу и подъема бровей. Это менее инвазивная альтернатива классической хирургической подтяжке лба."
	br
	h3 
		!="Что происходит во время эндоскопической подтяжки верхней трети и верхних двух третей лица?"
	br
	p 
		!="Во время процедуры хирург делает несколько небольших разрезов на лбу и вводит эндоскоп - устройство, оснащенное камерой и светодиодным освещением - для  наблюдения за внутренними структурами. Затем хирург использует другой инструмент для коррекции морщин и подъема бровей. Эта процедура обычно занимает около 1-2 часов."	
	br
	h3 
		!="Кто может претендовать на эндоскопическую подтяжку верхней трети и верхних двух третей лица?"
	br
	p 
		!="Эндоскопическая подтяжка верхней трети и верхних двух третей лица может быть подходящей для людей, которые  испытывают неудовлетворение своим внешним видом из-за морщин на лбу или опущенных бровей, мягких тканей лба и средней зоны лица."
.block__textTwo
	img(src="img/foto--18.png", alt="").float--left
	h3 
		!="Как долго длится реабилитация после эндоскопической подтяжки верхней  трети и верхних двух третей лица?"
	br
	p 
		!="У большинства пациентов после эндоскопической подтяжки верхней трети и верхних двух третей лица отмечается небольшой отек и синяки в области лба и средней трети лица, которые могут пройти в течение нескольких дней. Пациентам рекомендуется избегать интенсивной физической активности в течение первых нескольких дней после процедуры и следовать рекомендациям врача."
	br
	br
	br
	h3 
		!="Как подготовиться к эндоскопической подтяжке верхней трети и верхних двух третей лица?"
	br
	p 
		!="Перед проведением эндоскопической подтяжки верхней трети и верхних двух третей лица важно соблюдать некоторые  рекомендации, чтобы минимизировать риски осложнений и обеспечить более легкое восстановление. Некоторые из рекомендаций включают в себя:"
	br
	ul 
		li 
			| Отказаться от курения или уменьшить количество сигарет и употребления алкоголя за несколько недель до процедуры
		li 
			| Избегать лекарств, которые могут увеличить риск кровотечения 
		li 
			| Следовать рекомендациям врача по уходу за кожей вокруг глаз после процедуры 
	br
	p 
		!="Эндоскопическая подтяжка лба может быть эффективным способом улучшить внешний вид лица и повысить самооценку пациента."