.block__textTwo.block__textTwo--blue
	h2 
		!="ЧТО ТАКОЕ БЛЕФАРОПЛАСТИКА?"
	br
	br
	img(src="img/foto--7.png", alt="").float--right
	p 
		!="<a>Блефаропластика</a> - это хирургическая операция, которая направлена на устранение имеющихся деформаций в виде избытка кожи, жировых грыж в области верхнего или нижнего века, выпячивание слезной железы. Избыточная кожана веках может создавать не только эстетические проблемы, но и ограничивать зрение. <a>Блефаропластика</a> проводитсякак для косметических целей, так и для улучшения обзора, если избыток кожи мешает видеть."
	br
	p 
		!="Существует два основных типа <a>блефаропластики</a>: верхняя и нижняя. Верхняя блефаропластика - это процедура,при которой удаляется избыточная кожа на верхнем веке, а также жировые грыжи, которые могут создавать мешкипод глазами. Нижняя блефаропластика - это процедура, при которой удаляется избыточная кожа и жировые отложенияна нижнем веке."
	br
	br
	h3 Показания:
	br
	ul 
		li 
			| Избыток кожи на веках 
		li 
			| Асимметрия век 
		li 
			| Мешки или грыжи век
		li 
			| Эпикантус - азиатское веко
	br
	br
	img(src="img/foto--10.png", alt="").float--left
	h3 Противопоказания:
	br
	ul 
		li 
			| Острые инфекции, в том числе вирусные заболевания
		li 
			| Хронические заболевания, которые могут ухудшиться после операции
		li 
			| Беременность или кормление грудью
		li 
			| Психические заболевания, которые могут привести к нарушению восстановления после операции
		li 
			| Иммунодефицитные состояния и аутоиммунные заболевания
		li 
			| Некоторые заболевания кожи, такие как экзема, псориаз и акне
		li 
			| Некомпенсированный сахарный диабет.
		li 
			| Онкология.
		li 
			| Менструации у женщин.
	br
	br
	h3 КАКОВЫ ПЛЮСЫ БЛЕФАРОПЛАСТИКИ?
	br
	p 
		!="<a>Блефаропластика</a> может значительно улучшить внешний вид глаз, придавая лицу более молодой и свежий вид.Она может также улучшить обзорность, помогая вам видеть яснее, если избыток кожи мешает вашему зрению. Благодаря блефаропластике можно избавиться от мешков под глазами, убрать избыток кожи и расправить складки на веках,что значительно улучшит внешний вид и придаст уверенности в себе."
	br
	br 
	img(src="img/foto--11.png", alt="").float--right
	h3 КАК ДОЛГО ДЛИТСЯ ВОССТАНОВЛЕНИЕ ПОСЛЕ БЛЕФАРОПЛАСТИКИ?
	br
	p 
		!="Обычно пациенты могут вернуться к работе и обычной жизнедеятельности через 7-14 дней после операции.  Первые несколько дней после операции могут быть немного болезненными. Вам будут назначены специальные капли,для снижения отека слизистой глаза и профилактики присоединения инфекции. В течение первых недель после операции рекомендуется избегать интенсивной физической активности и не поднимать тяжелые предметы. Полное восстановление может занять до нескольких месяцев."
	br
	br
	h3 КАКИЕ МОГУТ БЫТЬ ОСЛОЖНЕНИЯ ПОСЛЕ БЛЕФАРОПЛАСТИКИ?
	br
	p 
		!="Как и при любой операции, есть риск осложнений после <a>блефаропластики</a>. Эти осложнения могут включать инфекцию, кровоизлияние, проблемы со зрением и другие редкие осложнения. Однако, если вы выбираете квалифицированного хирурга и следуете всем его инструкциям по уходу после операции, то риск осложнений минимален"
	br
	br
	h3 КАК ВЫБРАТЬ ХИРУРГА ДЛЯ БЛЕФАРОПЛАСТИКИ?
	br
	p 
		!="Выбор квалифицированного и опытного хирурга для блефаропластики очень важен. Не стесняйтесь задавать вопросы о квалификации и опыте хирурга, а также просматривать его портфолио работ и читать отзывы пациентов. Важно также найти хирурга, с которым вы чувствуете себе комфортно и у которого есть опыт работы с подобными случаями."