<section class="service">
		<div class="container">
				<h3 class="section-title gray">Сервис</h3>
				<ul class="service__list">
						<li class="service__list__item">Очный / онлайн прием</li>
						<li class="service__list__item">Предоперационные исследования и рекомендации</li>
						<li class="service__list__item">В клинике: комфорт и медицинская безопасность</li>
						<li class="service__list__item">Реабилитация и рекомендации</li>
				</ul>
		</div>
</section>