<footer class="footer">
		<div class="container">
				<nav>
						<div class="footer__logo">
								<img src="img/icons/logo/logo_white.png" alt="Белый логотип">
								<div class="footer__logo__year">@2023 Антон Говоров</div>
						</div>
						<ul class="footer__menu">
								<li class="footer__menu__item">
										<a href="#" class="footer__menu__link">о докторе</a>
								</li>
								<li class="footer__menu__item">
										<a href="#" class="footer__menu__link">операции</a>
								</li>
								<li class="footer__menu__item">
										<a href="#" class="footer__menu__link">портфолио</a></li>
								<li class="footer__menu__item">
										<a href="#" class="footer__menu__link">отзывы</a>
								</li>
								<li class="footer__menu__item">
										<a href="#" class="footer__menu__link">цены</a>
								</li>
						</ul>
						<ul class="footer__menu">
								<li class="footer__menu__item">
										<a href="#" class="footer__menu__link">акции</a>
								</li>
								<li class="footer__menu__item">
										<a href="#" class="footer__menu__link">видео</a>
								</li>
								<li class="footer__menu__item">
										<a href="#" class="footer__menu__link">статьи</a>
								</li>
								<li class="footer__menu__item">
										<a href="#" class="footer__menu__link">вопросы и ответы</a>
								</li>
								<li class="footer__menu__item">
										<a href="#" class="footer__menu__link">контакты</a>
								</li>
						</ul>
						<div class="connection">
								<div class="connection__contacts">
									<a href="tel:+79999999999" class="connection__phone">+7 (999) 999-99-99</a>
								</div>
								<div class="connection__signup">
										<a href="javascript:;" onclick="modalReg(); return false;" data-modal="record" class="button connection__button fancybox">Записаться</a>
								</div>
								<div class="connection__social">
										<a href="#" class="connection__social-item dark-blue-bg">
												<img src="img/icons/social/vk2.svg" alt="vkontact">
										</a>
										<a href="#" class="connection__social-item pink-bg">
												<img src="img/icons/social/instagram.svg" alt="instagram">
										</a>
										<a href="#" class="connection__social-item blue-bg">
												<img src="img/icons/social/telegram.svg" alt="telegram">
										</a>
										<a href="#" class="connection__social-item black-bg">
												<img src="img/icons/social/view.svg" alt="poorly_seeing">
										</a>
								</div>
						</div>
				</nav>
		</div>
</footer>