<section class="articles">
		<div class="container">
				<h3 class="section-title pink">Статьи</h3>

				<div class="articles__container">
						<div class="articles__wrapper">
								<h4 class="articles__title">ЧТО ТАКОЕ БЛЕФАРОПЛАСТИКА? </h4>

								<div class="articles__descr text__20">
										<p class="text__20">Блефаропластика - это хирургическая операция, которая направлена на устранение имеющихся деформаций в виде избытка кожи, жировых грыж в области верхнего или нижнего века, выпячивание слезной железы. Избыточная кожа на веках может создавать не только эстетические проблемы, но и ограничивать зрение. Блефаропластика проводится как для косметических целей, так и для улучшения обзора, если избыток кожи мешает видеть. 
										</p>
										<p class="text__20">Существует два основных типа блефаропластики: верхняя и нижняя. Верхняя блефаропластика -это процедура, при которой удаляется избыточная кожа на верхнем веке, а также жировые грыжи, которые могут создавать мешки под глазами. Нижняя блефаропластика - это процедура, при которой удаляется избыточная кожа и жировые отложенияна нижнем веке.
										</p>

										<div class="articles__title-list">Показания</div>                    
										<ul class="articles__indications">
												<li class="articles__indications__item">Избыток кожи на веках</li>
												<li class="articles__indications__item">Ассиметрия век</li>
												<li class="articles__indications__item">Мешки или грыжи век</li>
												<li class="articles__indications__item">Эпикантус - азиатское веко</li>
										</ul>
										<a href="#" class="detail pink">подробнее</a>
								</div>
								<div class="articles__bg-photo">
										<img src="img/operations/oldWomen.png" alt="Фон статьи">
								</div>
						</div>

						<div class="articles__directions">
								<div class="articles__directions__item articles__directions__active">
										<div class="articles__directions__item-pnkt">
												<img src="img/silhoette/silhouette_face.png" alt="Силуэт лица">
												<span>Лицо</span>
										</div>
										<ul class="articles__directions__themes">
												<li class="articles__directions__theme">Что такое блефаро-<br>пластика?</li>
												<li class="articles__directions__theme">Название статьи</li>
												<li class="articles__directions__theme">Название статьи</li>
										</ul>
								</div>
								<div class="articles__directions__item pink">
										<div class="articles__directions__item-pnkt">
												<img src="img/silhoette/pink/breast.svg" alt="Силуэт груди">
												<span>Грудь</span>
										</div>
								</div>
								<div class="articles__directions__item pink">
										<div class="articles__directions__item-pnkt">
												<img src="img/silhoette/pink/body.svg" alt="Силуэт тела">
												<span>Тело</span>
										</div>
								</div>
						</div>
				</div>
		</div>
</section>